<!doctype html>
<html lang='en-us'>
   <head>
      <meta charset="utf-8">
      <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
      <title>Archaeology Symbols</title>
   </head>

   <body>
      <h1>Archaeology Symbols</h1>
      
      <div class="content">
         <%= yield %>
      </div>
      
      <div class="footer">
         <p>These icons are freely reusable CC-B</p>
         <p>Last updated may 23, 2012.</p>
      </div>
   </body>

</html>